

body{
    background-image: url(pattern.jpg);
    background-attachment: fixed;
}

h3{
    text-align: justify;
}

h5{
    text-align: center;
    color: aliceblue;
    }

header {
    width: 100%;
    height: 70px;
    background-color: white;
    z-index: 99;
    border-radius: 11px;
    display: flex;
}

header nav ul {
    background: white;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
    padding: 0 20px;
}

nav ul a{
    float: right;
    width: 70px;
}

footer{
    background-color: black;
    height: 50;
}

article{
    background-color: aliceblue;
    text-align: center;
}

.logo {
    width: 20%;
    height: 100%;
    background-color: transparent;
}

